html,
body {
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
}
.tool-bar{
    height: 67px;
    background-color: springgreen;
}

.tools{
    display: flex;
    justify-content: center;
    height: 100%;
}
.tool{
    height: 80%;
    /* aspect ratio  */
}
.tool-options{
}
.tool-img{
    height: 100%;
    width: 45px;
}